<div class="d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <img src="assets/images/Mercurius_Inc_Logo.png" width="40px" alt="Mercurius Inc. Logo">
    <p> Mercurius Inc.</p>
  </div>
  <p class="px-3">Log Out</p>
</div>
<div class="post-header">
  StraightLines
</div>

<div class="schedule-types-navbar">
  <ul class="nav-items">
    <li class="schedule-type" (click)="onChangeTab('basic-watch-schedule')">
      <a href="javascript:void(0)" class="schedule-type-heading" [ngStyle]="{'color': (isActive('basic-watch-schedule') ? 'orange' : 'grey'), 'border-bottom': (isActive('basic-watch-schedule') ? '2px solid orange' : '')}" [ngClass]="{'active': isActive('basic-watch-schedule')}">Basic Watch Schedule</a>
    </li>
    <li class="schedule-type" (click)="onChangeTab('optimized-schedule')">
      <a href="javascript:void(0)" class="schedule-type-heading" [ngStyle]="{'color': (isActive('optimized-schedule') ? 'orange' : 'grey'), 'border-bottom': (isActive('optimized-schedule') ? '2px solid orange' : '')}" [ngClass]="{'active': isActive('optimized-schedule')}">Optimized Schedule</a>
    </li>
  </ul>
</div>

<div  class="schedule-type-content">
  <div class="active" id="" *ngIf="isActive('basic-watch-schedule')">
    <app-basic-watch-schedule></app-basic-watch-schedule>
  </div>
  <div class="active" id="" *ngIf="isActive('optimized-schedule')">
    <app-optimized-schedule></app-optimized-schedule>
  </div>
</div>
